body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.h-full {
  height: 100vh;
}
body .wrong {
  color: rgb(70, 0, 0);
  /* Start the shake animation and make the animation last for 0.5 seconds */
  animation: shake 0.5s;

  /* When the animation is finished, start again */
}

@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}

.flip-card {
  background-color: transparent;
  /* min-width: 100px; */
  /* min-height: 100px; */
  width: 100px;
  height: 100px;
  perspective: 1000px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.animate .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: #3a3a3a;
  color: white;
}

.flip-card-back {
  background-color: #ffffff;
  color: white;
  transform: rotateY(180deg);
}

.min-height-100 {
  min-height: 105px;
  overflow: hidden;
}

.slick-arrow {
  display: none !important;
}

.logo {
  /* width: 150px;
  height: 150px; */
  /* box-sizing: border-box; */
  /* border: 5px white solid; */
  /* border-radius: 50%; */
  /* overflow: hidden; */
  /* box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6); */
  transform: translatey(0px);
  animation: float 3s ease-in-out infinite;
}
@keyframes float {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(-15px);
  }
  100% {
    transform: translatey(0px);
  }
}
label {
  font-size: 110%;
}
.smaller {
  font-size: 90% !important;
  color: rgb(179, 179, 179) !important;
}
.transparant {
  color: transparent;
}
.red {
  color: red !important;
}
.MuiSlider-root {
  color: #cc6666 !important;
}

.et-say-no {
  z-index: -100;
  position: fixed;
  right: auto;
  width: 100%;
  overflow: hidden;
  opacity: 0;
}
#footer {
  position: fixed;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: #9b3f3f;
  color: white;
}

.primary-color {
  color: #cc6666;
}
.hovering {
  position: fixed;
  top: 20rem;
}
.slider-people {
  position: fixed;
  bottom: 20px;
}
.slick-center {
  -moz-transform: scale(2);
  -ms-transform: scale(2);
  -o-transform: scale(2);
  -webkit-transform: scale(2);
  opacity: 1;
  transform: scale(2);
}

.flex-container {
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: 100%;

  /* Using flexbox */
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: stretch;
  align-items: center;
  /*----*/
  color: #333;
}
.flex-child {
  width: 80%;
  order: 0;
  flex: 0 1 auto;
  align-self: center;
}
.slick-list,
.slick-slider {
  height: 100% !important;
}
.picturejumbo {
  right: 0px;
  bottom: 0px;
  /* left: 0px; */
  position: relative;
}
#title {
  /* right: 0;
  left: 0; */
  position: relative;
}

.small-it {
  width: 90%;
  height: 90%;
}
.text-muted2 {
  color: rgb(179, 179, 179) !important;
}
.form-control {
  background-color: #333 !important;
  color: #c9c9c9 !important;
}
